#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  header {
    height: 66px;
  }
  main {
    height: calc(100vh - 66px);
  }
}

@media (max-width: 768px) {
  p,
  span {
    font-size: 0.85rem;
  }

  h1,
  h2,
  h3 {
    font-size: 1.25rem;
  }
}
